<div>
    <label for="title">Title:</label>
    <input type="text" id="title" [(ngModel)]="newGame.title" required>
</div>
<div>
    <label for="description">Description:</label>
    <textarea id="description" [(ngModel)]="newGame.description"></textarea>
</div>
<div>
    <label for="type">Type:</label>
    <input type="text" id="type" [(ngModel)]="newGame.type">
</div>
<div>
    <label for="creator">Creator:</label>
    <input type="text" id="creator" [(ngModel)]="newGame.creator">
</div>
<div>
    <label for="tags">Tags:</label>
    <input type="text" id="tags" [(ngModel)]="newGame.tags">
</div>
<div>
    <label for="imgURL">Image URL:</label>
    <input type="text" id="imgURL" [(ngModel)]="newGame.imgURL">
</div>

<button type="button" (click)="addNewGame()">Add New Game To List</button>