<mat-dialog-content>
    <mat-form-field>
        <div>
            <label for="title">Title:</label>
            <input matInput type="text" id="title" [(ngModel)]="newGame.title" required>
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea id="description" [(ngModel)]="newGame.description"></textarea>
        </div>
        <div>
            <label for="type">Type:</label>
            <input matInput type="text" id="type" [(ngModel)]="newGame.type">
        </div>
        <div>
            <label for="creator">Creator:</label>
            <input matInput type="text" id="creator" [(ngModel)]="newGame.creator">
        </div>
        <div>
            <label for="tags">Tags:</label>
            <input matInput type="text" id="tags" [(ngModel)]="newGame.tags">
        </div>
        <div>
            <label for="imgURL">Image URL:</label>
            <input matInput type="text" id="imgURL" [(ngModel)]="newGame.imgURL">
        </div>
        <button mat-raised-button color="primary" type="button" (click)="addNewGame()">Add New Game To List</button>
    </mat-form-field>
<mat-dialog-content>