<div *ngIf="game">
    <mat-card class="myCardDetails">
        <mat-card-header>
            <mat-card-title>{{game.title}}</mat-card-title>
            <mat-card-subtitle appHoverAffect [styleType]='"underline"'>{{game.type}}</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <h2>{{game.creator}}</h2>
            <h3>{{game.description}}</h3>
        </mat-card-content>
        <span *ngIf="!game.imgURL">
            <img mat-card-image src="https://th.bing.com/th/id/OIP.eqzyXgwEADUnVs7aHvCcxAHaHa?pid=ImgDet&rs=1" alt="Default Image">
        </span>
        <span *ngIf="game.imgURL">
            <img mat-card-image src="{{game.imgURL}}"/>
        </span>
        <mat-card-content>
        </mat-card-content>
    </mat-card>
</div>