.isFirst {
    border: red;
}

.adv {
    color: blue;
}

.fps {
    color: crimson;
}

.racing {
    color: green;
}

.noType {
    color:orange;
}

.isFound {
    color: green;
}

.isNotFound {
    color: red;
}

.firstId {
    background-color: lawngreen;
}