<app-create-content (newGameAdd)="addGameToList($event)"></app-create-content>

<hr>

<h3>Search</h3>
<input [(ngModel)]="searchText">
<button (click)="searchContent(searchText) ">Submit</button>
<h1 id="search" class="">{{isFound}}</h1>

<!--Type set to FPS-->
<div *ngFor="let item of (contentArray | filterContent:'FPS'); index as i" class="fps"> 
    <app-content-card  [content]="item"></app-content-card>
</div>


<!--Type set to Adventure-->
<div *ngFor="let item of (contentArray | filterContent:'Adventure'); index as i" class="adv"> 
    <app-content-card  [content]="item"></app-content-card>
</div>

<!--Type set to Racing-->
<div *ngFor="let item of (contentArray | filterContent:'Racing'); index as i" class="racing"> 
    <app-content-card  [content]="item"></app-content-card>
</div>


<!--No type set-->
<div *ngFor="let item of (contentArray | filterContent); index as i" class="noType"> 
    <app-content-card  [content]="item"></app-content-card>
</div>