<app-modify-content-component (addGameEvent)="addContentToList($event)"></app-modify-content-component>

<hr>

<mat-form-field>
    <input matInput [(ngModel)]="searchText">
</mat-form-field>
<button mat-raised-button color="primary" (click)="searchContent(searchText) ">Submit</button>
<h1 id="search" class="">{{isFound}}</h1>




<app-content-card 
    *ngFor="let item of contentArray; index as i; first as isFirst" 
    [content]="item" >
</app-content-card>

<!--My pipes are currently not working when a new item is added to the list, so I've disabled them for now.-->

<!--Type set to FPS-->
<!-- <div *ngFor="let item of (contentArray | filterContent:'FPS'); index as i" class="fps"> 
    <app-content-card  [content]="item"></app-content-card>
</div> -->


<!--Type set to Adventure-->
<!-- <div *ngFor="let item of (contentArray | filterContent:'Adventure'); index as i" class="adv"> 
    <app-content-card  [content]="item"></app-content-card>
</div> -->

<!--Type set to Racing-->
<!-- <div *ngFor="let item of (contentArray | filterContent:'Racing'); index as i" class="racing"> 
    <app-content-card  [content]="item"></app-content-card>
</div> -->


<!--No type set-->
<!-- <div *ngFor="let item of (contentArray | filterContent); index as i" class="noType"> 
    <app-content-card  [content]="item"></app-content-card>
</div> -->