.myCard {
    width: 30%;
    float: left;
    display: inline;
    border: solid 1px black;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

img {
    height: 200px;
    width: 150px;
}


.mySelectedCard {
    font-size: x-large;
}