.myCard {
    width: 30%;
    float: left;
    display: inline;
    border: solid 1px black;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

img {
    height: 200px;
    width: 150px;
}

.isFirst {
    border: solid 5px black;
}

.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }