<div class="myCard" >
    <h1>{{content.title}}</h1>
    <h2>{{content.creator}}</h2>
    <h3 appHoverAffect [styleType]='"underline"'>{{content.type}}</h3>
    <p>{{content.description}}</p>
    <span *ngIf="!content.imgURL">
        <img src="https://th.bing.com/th/id/OIP.eqzyXgwEADUnVs7aHvCcxAHaHa?pid=ImgDet&rs=1" alt="Default Image">
    </span>
    <span *ngIf="content.imgURL">
        <img src="{{content.imgURL}}" (click)="clickInfo(content)"/>
    </span>
    <div *ngFor ="let item of content.tags;">
        <p appHoverAffect [styleType] ='"bold"'>{{item}}</p>
    </div>
</div>

