

<mat-card class="myCard">
    <mat-card-header>
        <mat-card-title>{{content.title}}</mat-card-title>
        <mat-card-subtitle appHoverAffect [styleType]='"underline"'>{{content.type}}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <!-- <h3 appHoverAffect [styleType]='"underline"'>{{content.type}}</h3> -->
    <mat-card-content>
        <h4>{{content.creator}}</h4>
        <p>{{content.description}}</p>
    </mat-card-content>
    <span *ngIf="!content.imgURL">
        <img mat-card-image src="https://th.bing.com/th/id/OIP.eqzyXgwEADUnVs7aHvCcxAHaHa?pid=ImgDet&rs=1" alt="Default Image">
    </span>
    <span *ngIf="content.imgURL">
        <img mat-card-image src="{{content.imgURL}}" (click)="clickInfo(content)"/>
    </span>
    <mat-card-content>
        <div *ngFor ="let item of content.tags;">
            <mat-list>
                <mat-list-item >
                    <span appHoverAffect [styleType] ='"bold"'>{{item}}</span>
                </mat-list-item>
            </mat-list>
        </div>
        <a routerLink="/detail/{{content.id}}">Click For More Details</a>
    </mat-card-content>
</mat-card>

